In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df2 = pd.read_csv("https://raw.githubusercontent.com/priyanshugithub2003/Datasets_Data_Science/main/titanic-training-data.csv")

In [3]:
df2.shape

(891, 12)

In [4]:
df2.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df2=df2.drop('Cabin',axis=1)

In [6]:
median = df2['Age'].median()
median

28.0

In [7]:
df2['Age'].replace(np.nan,median,inplace=True)

In [8]:
mode = df2['Embarked'].mode().values[0]
mode

'S'

In [9]:
df2['Embarked'].replace(np.nan,mode,inplace=True)

In [10]:
df2.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
774,775,1,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.0000,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,S
528,529,0,3,"Salonen, Mr. Johan Werner",male,39.0,0,0,3101296,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
692,693,1,3,"Lam, Mr. Ali",male,28.0,0,0,1601,56.4958,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S
74,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,S
574,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,A/4. 20589,8.0500,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,S

In [11]:
df2.duplicated().sum()

0

In [12]:
df2=df2.drop(['Name','PassengerId','Fare','Ticket'],axis=1)

In [13]:
df2.sample(10)

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
736         0       3  female  48.0      1      3        S
466         0       2    male  28.0      0      0        S
122         0       2    male  32.5      1      0        C
465         0       3    male  38.0      0      0        S
366         1       1  female  60.0      1      0        C
99          0       2    male  34.0      1      0        S
751         1       3    male   6.0      0      1        S
815         0       1    male  28.0      0      0        S
377         0       1    male  27.0      0      2        C
767         0       3  female  30.5      0      0        Q

In [14]:
dummies=pd.get_dummies(df2[['Sex','Embarked','Pclass']],columns=['Sex','Embarked','Pclass'],drop_first=True)

In [15]:
dummies.sample(5)

     Sex_male  Embarked_Q  Embarked_S  Pclass_2  Pclass_3
300         0           1           0         0         1
10          0           0           1         0         1
473         0           0           0         1         0
130         1           0           0         0         1
302         1           0           1         0         1

In [16]:
pd.concat([df2,dummies],axis=1)
df2.drop(['Sex','Embarked','Pclass'],axis=1,inplace=True)

In [17]:
x=df2.drop(['Survived'],axis=1)
y=df2[['Survived']]

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4,random_state=1)

In [19]:
reg = LogisticRegression()
reg.fit(x_train,y_train)

C:\Users\priyanshu\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [20]:
reg.score(x_train,y_train)

0.649812734082397

In [21]:
reg.score(x_test,y_test)

0.6078431372549019

In [22]:
svc = SVC(C=2,kernel='rbf')
svc.fit(x_train,y_train)

C:\Users\priyanshu\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=2)

In [23]:
svc.score(x_train,y_train)

0.6647940074906367

In [24]:
svc.score(x_test,y_test)

0.6106442577030813

In [25]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x_train,y_train)

C:\Users\priyanshu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=1)

In [26]:
knn.score(x_train,y_train)

C:\Users\priyanshu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.7752808988764045

In [27]:
knn.score(x_test,y_test)

C:\Users\priyanshu\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.5686274509803921